# OS
.DS_Store
.DS_Store?
._*

# Terraform
infra/**/.terraform/
infra/**/.terraform.lock.hcl
infra/**/terraform.tfstate
infra/**/terraform.tfstate.backup
infra/**/.terraform.tfstate.*
infra/**/terraform.tfvars

# Node.js
node_modules/
apps/**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
apps/**/.next/

# Python
__pycache__/

apps/lab-attendance/.env
.env.su8ru_wish
spec.md
state_friend.json
